In [1]:
import pandas

# pandas.options.display.max_columns = None
# pandas.options.display.max_rows = None

basketball_draft_data = pandas.read_csv("basketball_draft.csv")

basketball_draft_data

,draftYear,draftRound,draftSelection,draftOverall,tmID,firstName,lastName,suffixName,playerID,draftFrom,lgID
0,1967,0,0,0,ANA,Darrell,Hardy,NaN,hardyda01,Baylor,ABA
1,1967,0,0,0,ANA,Bob,Krulish,NaN,NaN,Pacific,ABA
2,1967,0,0,0,ANA,Bob,Lewis,NaN,lewisbo01,North Carolina,ABA
3,1967,0,0,0,ANA,Mike,Lynn,NaN,lynnmi01,UCLA,ABA
4,1967,0,0,0,ANA,Tom,Workman,NaN,workmto01,Seattle,ABA
...,...,...,...,...,...,...,...,...,...,...,...
8998,2011,2,26,56,LAL,Chukwudiebere,Maduabum,NaN,NaN,Bakersfield Jam (D-League),NBA
8999,2011,2,27,57,DAL,Tanguy,Ngombo,NaN,NaN,Al Rayyan (Qatar),NBA
9000,2011,2,28,58,LAL,Ater,Majok,NaN,NaN,Gold Coast Blaze (Australia),NBA
9001,2011,2,29,59,SAS,Adam,Hanga,NaN,NaN,Assignia Manresa (Spain),NBA
9002,2011,2,30,60,SAC,Isaiah,Thomas,NaN,thomais02,Washington,NBA